body {
  margin: 0;
  font-family: 'TypewriterScribbled', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "TypewriterScribbled";
  src: url(resources/font/TypewriterScribbled/TypewriterScribbled.ttf);
}

code {
  font-family: 'TypewriterScribbled', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
